{% load static %}
<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container px-0">
            <a class="navbar-brand text-left px-2 " href="{% url 'index' %}">
                <img src="{% static 'images/logo.svg' %}" alt="Logo da AllWorks Company" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMain">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                           href="{% url 'index' %}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/projects/' %}active{% endif %}"
                           href="{% url 'projects' %}">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/courses/' %}active{% endif %}"
                           href="{% url 'courses' %}">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/training/' %}active{% endif %}"
                           href="{% url 'training' %}">Treinamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/publications/' %}active{% endif %}"
                           href="{% url 'publications' %}">Publicações</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}"
                           href="{% url 'contact' %}">Contato</a>
                    </li>
                <!--
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/admin/submissions/' %}active{% endif %}"
                           href="{% url 'admin_submissions' %}">
                        <i class="fas fa-database"></i> Admin
                        </a>
                    </li>
                -->
                </ul>
            </div>
        </div>
    </nav>
</header>
